body {
  background-color: #1e1e1e;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #4077f3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 61px;
  position: relative;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__bolls {
  position: absolute;
}
.header__bolls-purple {
  position: absolute;
  left: 508px;
  top: -154px;
  width: 259px;
  height: 259px;
  background: #833ab4;
  opacity: 0.5;
  -webkit-filter: blur(196px);
          filter: blur(196px);
}
.header__bolls-purple-small {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 763px;
  top: -53px;
  border-radius: 50%;
  background: -o-radial-gradient(27.25% 26.5%, 64% 64%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  -webkit-box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
          box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header__bolls-red {
  position: absolute;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  left: 433px;
  top: 17px;
  background: -o-radial-gradient(27.25% 26.5%, 64% 64%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  -webkit-box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
          box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.logo__icon {
  margin-bottom: 14.88px;
}
.logo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #e4e5ea;
}

.navigation-wrapper__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
}
.navigation-wrapper__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}
.navigation-wrapper__nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #e4e5ea;
}

.info__number-link {
  margin-right: 3.5rem;
}
.info__number {
  color: #e4e5ea;
}
.info__contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__contact-item {
  color: #e4e5ea;
  padding-right: 2.5rem;
}
.info__contact-item:last-of-type {
  padding-right: 0;
}

.content {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto .content __left;
          flex: 1 1 auto .content __left;
  flex-display: flex;
  flex-text-align: start;
  flex-flex-direction: column;
  flex-position: relative;
}
.content__left-red-light {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -238px;
  top: 40px;
  background: #961a1a;
  opacity: 0.5;
  -webkit-filter: blur(196px);
          filter: blur(196px);
}
.content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
  position: relative;
}
.content__right-red-boll {
  position: absolute;
  width: 28px;
  height: 28px;
  left: -149px;
  top: 304px;
  border-radius: 50%;
  background: -o-radial-gradient(27.25% 26.5%, 64% 64%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  -webkit-box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
          box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  -webkit-filter: blur(2.5px);
          filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.left__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #e4e5ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left__title span {
  font-weight: 900;
  background: -o-linear-gradient(358deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.left__paragraph {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #e4e5ea;
}

.right__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #e4e5ea;
}
.right__title-up span {
  font-weight: 700;
  letter-spacing: 0.05em;
  background: -webkit-gradient(linear, left top, right top, color-stop(36.99%, #fcb045), to(#fd1d1d));
  background: -o-linear-gradient(left, #fcb045 36.99%, #fd1d1d 100%);
  background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
}
.right__title-down span {
  font-weight: 700;
  letter-spacing: 0.05em;
  background: -webkit-gradient(linear, left top, right top, color-stop(36.99%, #fcb045), to(#fd1d1d));
  background: -o-linear-gradient(left, #fcb045 36.99%, #fd1d1d 100%);
  background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
}
.right__gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.right__gift-up {
  padding-right: 30px;
}
.right__gift-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #e4e5ea;
  padding-bottom: 6px;
}
.right__gift-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e4e5ea;
}
.right__btn-block {
  margin-top: 61px;
}
.right__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #e4e5ea;
  background: #4077f3;
  padding: 21px 35px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 124px;
}
.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
  padding-bottom: 20px;
}
.footer__item {
  padding-bottom: 10px;
}
.footer__item:last-of-type {
  padding-bottom: 0;
}
.footer__item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e4e5ea;
}
.footer__up-contact {
  text-align: right;
}
.footer__item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 14px 0;
}
.footer__item-social li {
  margin-right: 14px;
}
.footer__item-social li:last-of-type {
  margin-right: 0;
}
.footer__down {
  text-align: right;
  margin-top: 33px;
}
.footer__down-copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #e4e5ea;
  margin-bottom: 5px;
}
.footer__down-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #e4e5ea;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.up-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.up-menu-list-left {
  margin-right: 52px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 15px;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    display: none;
  }
  .header__navigation-wrapper {
    width: 100%;
  }
  .header__info {
    display: none;
  }
  .navigation-wrapper__nav-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__right {
    margin-top: 45px;
    text-align: start;
  }
  .left__paragraph {
    margin-top: 15px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .footer__up-about {
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .footer__up-contact {
    margin-top: 30px;
    text-align: left;
  }
  .footer__item {
    padding-bottom: 11px;
  }
  .footer__item-social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0;
  }
  .footer__down {
    text-align: left;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .navigation-wrapper__nav-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation-wrapper__nav-item {
    padding: 0;
  }
  .navigation-wrapper__nav-link {
    font-size: 12px;
  }
  .left__title {
    font-size: 36px;
    line-height: 44px;
  }
}