body,
html {
  background-color: #1e1e1e;
  height: 100%;
}

// Стили страницы и контейнера
.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #4077f3;
}

// Стили элементов хедера
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 61px;
  position: relative;

  &__logo {
    display: flex;
    flex-direction: column;
  }
  &__bolls {
    position: absolute;
  }
  &__bolls-purple {
    position: absolute;
    left: 508px;
    top: -154px;
    width: 259px;
    height: 259px;
    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
  }

  &__bolls-purple-small {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 763px;
    top: -53px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }

  &__bolls-red {
    position: absolute;
    border-radius: 50%;
    width: 83px;
    height: 83px;
    left: 433px;
    top: 25px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }

  &__info {
    display: flex;
    padding-top: 10px;
  }
}
.logo {
  &__icon {
    margin-bottom: 14.88px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #e4e5ea;
  }
}
.navigation-wrapper {
  &__nav-list {
    display: flex;
    padding-top: 6px;
  }

  &__nav-item {
    display: flex;
    z-index: 10;
    padding: 0 15px;
  }

  &__nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #e4e5ea;
  }
}
.info {
  &__number-link {
    margin-right: 3.5rem;
  }

  &__number {
    color: #e4e5ea;
  }

  &__contact-list {
    display: flex;
  }

  &__contact-item {
    color: #e4e5ea;
    padding-right: 2.5rem;
  }
  &__contact-item:last-of-type {
    padding-right: 0;
  }
}

// Стили эелментов контента
.content {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  &__left {
    display: flex;
    text-align: start;
    flex-direction: column;
    position: relative;
  }
  &__left-red-light {
    position: absolute;
    width: 311px;
    height: 311px;
    left: -238px;
    top: 40px;
    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
  }

  &__right {
    display: flex;
    flex-direction: column;
    text-align: end;
    position: relative;
  }
  &__right-red-boll {
    position: absolute;
    width: 28px;
    height: 28px;
    left: -149px;
    top: 304px;
    border-radius: 50%;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
  }
}
.left {
  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #e4e5ea;
    display: flex;
    flex-direction: column;
    span {
      font-weight: 900;
      background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &__paragraph {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #e4e5ea;
  }
}
.right {
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #e4e5ea;
  }

  &__title-up {
    span {
      font-weight: 700;
      letter-spacing: 0.05em;
      background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-transform: uppercase;
    }
  }

  &__title-down {
    span {
      font-weight: 700;
      letter-spacing: 0.05em;
      background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-transform: uppercase;
    }
  }
  &__gift-on-mobile-devices {
    display: none;
  }

  &__gift {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
  }

  &__gift-up {
    padding-right: 30px;
  }

  &__gift-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e4e5ea;
    padding-bottom: 6px;
  }

  &__gift-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #e4e5ea;
  }
  &__btn-block {
    margin-top: 61px;
  }

  &__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #e4e5ea;
    background: #4077f3;
    padding: 21px 35px;
  }
}

// Стили футера

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 124px;
  &__up {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
    padding-bottom: 20px;
  }

  &__item {
    padding-bottom: 10px;
  }
  &__item:last-of-type {
    padding-bottom: 0;
  }

  &__item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #e4e5ea;
  }

  &__up-contact {
    text-align: right;
  }

  &__item-social {
    display: flex;
    justify-content: end;
    margin: 14px 0;
    li {
      margin-right: 14px;
    }
    li:last-of-type {
      margin-right: 0;
    }
  }

  &__down {
    text-align: right;
    margin-top: 33px;
  }

  &__down-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #e4e5ea;
    margin-bottom: 5px;
  }

  &__down-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #e4e5ea;
    text-decoration-line: underline;
  }
}

.up-menu-list {
  display: flex;
}

.up-menu-list-left {
  margin-right: 52px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 15px;
  }
  .header {
    justify-content: center;
    &__logo {
      display: none;
    }
    &__navigation-wrapper {
      width: 100%;
    }
    &__info {
      display: none;
    }
  }
  .navigation-wrapper {
    &__nav-list {
      justify-content: space-between;
    }
  }
  .content {
    flex-direction: column;

    &__right {
      margin-top: 45px;
      text-align: start;
    }
  }
  .left {
    &__paragraph {
      margin-top: 15px;
    }
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .footer {
    &__up-about {
      margin-right: 10px;
      margin-bottom: 30px;
    }
    &__up-contact {
      margin-top: 30px;
      text-align: left;
    }
    &__item {
      padding-bottom: 11px;
    }
    &__item-social {
      justify-content: start;
      margin: 0;
    }
    &__down {
      text-align: left;
      margin-top: 50px;
    }
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .navigation-wrapper {
    &__nav {
    }
    &__nav-list {
      justify-content: space-between;
    }
    &__nav-item {
      padding: 0;
    }
    &__nav-link {
      font-size: 12px;
    }
  }
  .left {
    &__title {
      font-size: 36px;
      line-height: 44px;
    }
  }

  .right {
    &__title-up,
    &__title-down {
      span {
        text-transform: lowercase;
      }
    }

    &__gift {
      display: none;
    }
    &__gift-on-mobile-devices {
      display: flex;
      margin-top: 20px;
    }
    &__gift-list-on-mobile-devices {
      column-count: 2;
      padding: 0 18px;
    }

    &__gift-item-on-mobile-devices {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e4e5ea;
      position: relative;
      &::before {
        content: "";
        width: 10px;
        height: 1px;
        background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
        position: absolute;
        top: 7px;
        left: -15px;
      }
    }
  }
}
